.cards__wrapper {
  /* max-height: 1000px; */
  /* max-width: 654px; */
  margin: 10px auto;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.cards__room-img {
  float: left;
  height: 420px;
  width: 327px;
  overflow: hidden;
}

.cards__room-img img {
  height: 420px;
  width: 327px;
  object-fit: fill;
  border-radius: 7px 0 0 7px;
  transition: transform 0.2s;
}

.cards__room-img img:hover {
  transform: scale(1.1);
}

.cards__room-info {
  float: left;
  height: 420px;
  width: 327px;
  /* border-radius: 0 7px 10px 7px; */
  backdrop-filter: blur(7px);
  background-color: rgba(255, 255, 255, 0.5);
  /* border-radius: 26px; */
  /* box-shadow: 35px 35px 68px 0px rgba(157, 177, 255, 0.2), inset -8px -8px 16px 0px rgba(157, 177, 255, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255); */
  transition: all 0.3s;
}
.cards__room-info:hover {
  box-shadow: 35px 35px 68px 0px rgba(157, 177, 255, 0.5);
}

.cards__room-info:active {
  transform: scale(0.95);
  border: 1px solid blue;
}

.cards__room-text {
  max-height: 300px;
  max-width: 327px;
  padding: 20px;
}

.cards__room-text h1 {
  margin: 0 0 0 25px;
  /* padding-top: 52px; */
  font-size: 34px;
  color: #474747;
}

.cards__title,
.cards__room-price p {
  font-family: "Bentham", serif;
}

.cards__subtitle {
  margin: 0 0 10px 30px;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: #000000;
  letter-spacing: 0.2em;
}

.cards__description {
  max-height: 105px;
  margin: 0 0 0 30px;
  font-family: "Playfair Display", serif;
  color: #474747;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
}

.cards__room__price__container {
  height: 103px;
  width: 327px;
  margin-top: 25px;
  position: relative;
}

.cards__room__price__text {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: "Trocchi", serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}

.cards__room__price__number {
  display: inline-block;
  height: 50px;
  font-family: "Suranna", serif;
  font-size: 34px;
}